/* ---------------------------------------- forms */
select.simple-select {
	background-color: transparent;
	border-color: transparent;
}
.jq-selectbox.dropdown {
	margin-right: 0;
}
.jq-selectbox {
  display: block;
}
/* -------------------- */
.jq-selectbox__select {
	font-family: 'bicubikregular';
	border-color: transparent;
	background: transparent;
	text-shadow: none;
	text-align: left;
	box-shadow: none;
	z-index: 15;
	width: 100%;
	color: #fff;
}
.jq-selectbox__select:hover,
.jq-selectbox__select:active,
.jq-selectbox.dropdown.opened .jq-selectbox__select {
	border-color: #555069;
	background: #232434;
	box-shadow: none;
}
.jq-selectbox.focused .jq-selectbox__select {
  background-color: #232434;
	border-color: #555069;
}
/* -------------------- */
.jq-selectbox__select-text {
	width: 100%!important;
	text-align: left;
}
.jq-selectbox .placeholder {
  color: #fff;
}
/* -------------------- */
.jq-selectbox__trigger {
  border-left: 0;
}
.jq-selectbox__trigger-arrow {
	background: url(/assets/img/template/select-arrow.png) center no-repeat;
	-webkit-transform: translate(-50%, -50%);
		 -moz-transform: translate(-50%, -50%);
  		-ms-transform: translate(-50%, -50%);
  		 -o-transform: translate(-50%, -50%);
  				transform: translate(-50%, -50%);
	background-size: contain;
  height: 1rem;
  width: 1rem;
  right: auto;
  border: 0;
  left: 50%;
  top: 50%;
}
/* -------------------- */
.jq-selectbox__dropdown {
	font-family: 'bicubikregular';
	background-color: #232434;
	border-color: #555069;
	border-style: solid;
  box-shadow: none;
	overflow: hidden;
	padding: 0;
}
.jq-selectbox li {
  color: #fff;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #292b43;
  color: #fff;
}
/* ------------------------------ */
.form-group .jq-selectbox__select {
  background-color: rgba(14, 8, 22, 0.8);
  font-family: 'magistralcbold';
	border: 1px solid #4e4967;
	border-radius: 0.625rem;
	font-size: 1.563rem;
	position: relative;
  line-height: 2.188rem;
  padding: 0.5rem 0.9375rem;
	text-shadow: none;
	text-align: left;
	box-shadow: none;
  color: #666699;
  height: 3.313rem;
	width: 100%;
}
/* -------------------- */
.form-group .jq-selectbox__select:hover {
	background-color: rgba(14, 8, 22, 0.8);
	border: 1px solid #4e4967;
	color: #666699;
}
.form-group .jq-selectbox__select:active,
.form-group .jq-selectbox.focused .jq-selectbox__select,
.form-group .jq-selectbox.dropdown.opened .jq-selectbox__select {
	background-color: rgba(14, 8, 22, 0.8);
	border: 1px solid #666699;
	box-shadow: none;
	color: #b2aacd;
}
.form-group .jq-selectbox .placeholder {
  color: #666699;
}
.form-group .jq-selectbox.dropdown.opened .placeholder {
	color: #b2aacd;
}
/* -------------------- */
.form-group .jq-selectbox__trigger {
	-webkit-transform: translateY(-50%);
		 -moz-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
  		 -o-transform: translateY(-50%);
  				transform: translateY(-50%);
  border-left: 0;
  height: 1rem;
  width: 1rem;
	right: 0.9375rem;
	top: 50%;
}
/* -------------------- */
.form-group .jq-selectbox__dropdown {
	background-color: rgba(14, 8, 22, 0.8);
  font-family: 'magistralcbold';
	border: 1px solid #4e4967;
	border-radius: 0.625rem;
	border-style: solid;
  box-shadow: none;
	overflow: hidden;
	padding: 0;
}
.form-group .jq-selectbox li {
	font-size: 1.563rem;
	position: relative;
  line-height: 1.938rem;
  padding: 0.313rem 0.9375rem;
  color: #b2aacd;
}
.form-group .jq-selectbox li:hover,
.form-group .jq-selectbox li.selected {
  background-color: #292b43;
  color: #b2aacd;
}
/* ------------------------------ */
.form-group {
	margin-bottom: 1.063rem;
	position: relative;
}
/* -------------------- */
.form-control {
  background-color: rgba(14, 8, 22, 0.8);
  font-family: 'magistralcbold';
	border: 1px solid #4e4967;
  padding: 0.5rem 0.9375rem;
	border-radius: 0.625rem;
  line-height: 1.4375rem;
	font-size: 1.563rem;
	position: relative;
  color: #666699;
  height: 3.313rem;
  z-index: 3;
}
.form-control::-webkit-input-placeholder {
  color: #666699;
}
.form-control::-moz-placeholder {
  color: #666699;
}
.form-control:-ms-input-placeholder {
  color: #666699;
}
.form-control::-ms-input-placeholder {
  color: #666699;
}
.form-control::placeholder {
  color: #666699;
}
/* -------------------- */
.form-control:focus {
  background-color: rgba(14, 8, 22, 0.8);
	border: 1px solid #666699;
  box-shadow: none;
  color: #b2aacd;
}
.form-control:focus::-webkit-input-placeholder {
  color: #b2aacd;
}
.form-control:focus::-moz-placeholder {
  color: #b2aacd;
}
.form-control:focus:-ms-input-placeholder {
  color: #b2aacd;
}
.form-control:focus::-ms-input-placeholder {
  color: #b2aacd;
}
.form-control:focus::placeholder {
  color: #b2aacd;
}
/* ------------------------------ */
.error .form-control {
	border-color: #ed2e49;
}
.input_message {
	-webkit-transform: translateX(-50%);
		 -moz-transform: translateX(-50%);
  		-ms-transform: translateX(-50%);
  		 -o-transform: translateX(-50%);
  				transform: translateX(-50%);
	font-family: 'magistralcbold';
	background:transparent;
	color: #ee3e57;
	font-size: 1.125rem;
	white-space: nowrap;
	position: absolute;
	padding: 0;
	line-height: 1;
	overflow: hidden;
	opacity: 0;
	height: auto;
	left: 50%;
	max-width:32rem;
	z-index:12;
}
.error .input_message {
	height: auto;
	opacity: 1;
}
/* ------------------------------ */
.btn_bordered {
  box-shadow: 0 0 2.5rem 0.625rem rgba(255, 160, 8, 0.2),inset 0 0 0.875rem 0.375rem rgba(247, 82, 38, 0.4);
  border: 0.125rem solid transparent;
  border-color: #e02948 #e83e3b #f75227 #e83e3b;
  justify-content: space-between;
  background-color: transparent;
  font-family: 'bicubikregular';
	border-radius: 2.1875rem;
  padding: 1.25rem 2.5rem;
  display: inline-flex;
  font-size: 1.625rem;
	align-items: center;
  color: #ffdea6;
  line-height: 1;
}
.btn_bordered:hover {
  box-shadow: 0 0 2.5rem 0.625rem rgba(255, 160, 8, 0.1),inset 0 0 0.875rem 0.375rem rgba(247, 82, 38, 0.2);
  color: #fff;
}
/* -------------------- */
.btn_bordered .icon_width {
	width: 2.125rem;
}
.btn_bordered .text + .icon_width {
	margin-left: 3.375rem;
}
.btn_bordered .icon_width + .text {
	margin-left: 3.375rem;
}
.btn_bordered .iconed_text {
  justify-content: space-between;
	width: 100%;
}

@media screen and (min-width: 576px) {
	.btn_bordered .text {
		margin-bottom: -0.2rem;
		margin-top: 0.2rem;
	}
}
/* ---------------------------------------- content */
.support_p .public_body {
	max-width: 43.438rem;
	margin: 0 auto;
}
/* -------------------- */
.entered_form {
	padding: 10rem 0 4.375rem;
	position: relative;
}
/* -------------------- */
.entered_title {
	justify-content: space-between;
	margin-bottom: 4.5rem;
	align-items: center;
	position: relative;
	display: flex;
	width: 100%;
}
.entered_title h1 {
	font-family: 'arkitech_bold';
	text-transform: uppercase;
	font-size: 3.375rem;
	position: relative;
	line-height: 1;
	color: #fff;
	z-index: 5;
	margin: 0;
}
.entered_title h1 .dot {
	-webkit-transform: translateY(-50%);
		 -moz-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
  		 -o-transform: translateY(-50%);
  				transform: translateY(-50%);
	background-color: #fff;
	margin-right: 2.5rem;
	position: absolute;
	border-radius: 50%;
	height: 0.625rem;
	width: 0.625rem;
	right: 100%;
	top: 50%;
}
.entered_title h1 .dot::after {
	-webkit-transform: translateY(-50%);
		 -moz-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
  		 -o-transform: translateY(-50%);
  				transform: translateY(-50%);
	background-color: #3e3c5a;
	position: absolute;
	width: 2000px;
	content: '';
	height: 1px;
	right: 100%;
	top: 50%;
}

.entered_title .icon_width {
	width: 3.375rem;
}
.entered_title .icon_width .svg_fill {
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
  fill: #fff;
}
.entered_title .icon_width:hover .svg_fill {
  fill: #EE2E49;
}
/* -------------------- */
.entered_form .form_step_box {
	padding-bottom: 2.75rem;
	position: relative;
}
/* -------------------- */
.entered_form .step_title {
	font-family: 'magistralcbold';
	margin-bottom: 1.313rem;
	line-height: 2.563rem;
	font-size: 1.313rem;
}
.entered_form .step_title span {
	min-height: 2.563rem;
}
.entered_form .step_title span:first-child {
	color: #666699;
}
.entered_form .step_title span:last-child {
	color: #b2aacd;
}
/* -------------------- */
.entered_form .form_hint {
	font-family: 'magistralcbold';
	margin-bottom: 1.25rem;
	font-size: 1.313rem;
	line-height: 1;
	color: #4b4873;
}
/* -------------------- */
.entered_form textarea.form-control {
	padding-bottom: 1.25rem;
	padding-top: 1.25rem;
	height: 16.75rem;
	resize: none;
	line-height:150%;
	color:#fff;
}
/* -------------------- */
.entered_form .divider {
	background-color: #3e3c5a;
	position: relative;
	height: 1px;
}
.entered_form .divider::after {
	background-color: #3e3c5a;
	position: absolute;
	width: 1500%;
	content: '';
	height: 1px;
	right: 100%;
	top: 0;
}
.support_p .entered_form .divider {
	margin: 1.875rem 0;
}
/* -------------------- */
.entered_form_btn {
	margin-bottom: 3.75rem;
	position: relative;
	z-index: 5;
}
.entered_form_btn::after {
	background: rgb(237,46,73);
	background: linear-gradient(90deg, rgba(237,46,73,1) 0%, rgba(255,162,0,1) 100%);
	position: absolute;
	width: 230%;
	content: '';
	height: 1px;
	left: 100%;
	top: 50%;
}
@media screen and (min-width: 2880px) {
	.entered_form_btn::after {
		width: 310%;
	}
}
.entered_form_btn .btn_bordered {
	width: 100%;
}
.support_p .entered_form_btn {
	margin: 1.875rem 0 1.063rem;
}
/* ------------------------------ */
.contact_message {
	font-family: 'magistralcbold';
	padding: 1.875rem 2.813rem;
	background-color: #1b1a2a;
	border-radius: 0.625rem;
	margin-bottom: 1.25rem;
	line-height: 2.313rem;
	font-size: 1.5625rem;
	color: #b2aacd;
}
.text_italic {
	font-style: italic;
}
.contact_message a {
	color: #b2aacd;
}
.contact_message a:hover {
	color: #fff;
}

.support_triple_blink {
	animation:supportTripleBlink 3s linear 1;
}

@keyframes supportTripleBlink {
	0% {
		opacity:1;
	}
	17% {
		opacity:0.3;
	}
	33% {
		opacity:1;
	}
	50% {
		opacity:0.3;
	}
	67% {
		opacity:1;
	}
	83% {
		opacity:0.3;
	}
	100% {
		opacity:1;
	}
}